<!DOCTYPE html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="components/venobox/venobox/venobox.css">
        <link rel="stylesheet" href="themes/{{ app.conf.theme }}/css/style.css">
        <link rel="icon" type="image/png" href="themes/{{ app.conf.theme }}/img/webcam.png">
        <title>{{ app.conf.title }}</title>
        <script src="components/jquery/jquery.min.js"></script>
        <script src="components/venobox/venobox/venobox.min.js"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
        <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
        <script src="themes/{{ app.conf.theme }}/js/app.js"></script>
    </head>
    <body>
        <div class="filters">
            {% set filters = {} %}
            {% for cam in cams %}
                {% if not filters[cam.massif] %}
                    {% set lastMod = app.curl_get_lastmod(cam.url) %}
                    {% if  (lastMod and ( ("now"|date_modify("-1 day")) <  lastMod ) ) or cam.skip_timestamp %}
                        {{ include('filter.html.twig') }}
                    {% endif %}
                    {% set filters = filters|merge({(cam.massif) : true}) %}
                {% endif %}
            {% else %}
                No cam found
            {% endfor %}
        </div>
        <div class="grid">
            {% for cam in cams %}
                {{ include('cam.html.twig') }}
            {% else %}
                No cam found
            {% endfor %}
        </div>
        <div class="legend">
            <div>Favicon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Made with ❤️ by <a href="https://plopcom.fr">plopcom</a></div>
        </div>
    </body>
</html>